/* SECTION ESTILOS CONTENEDOR FOOTER */
.footer__container{
    padding:1em;
    color: #fff;
    text-align: center;
    background-color: #202C33;

}
/* SECTION ESTILOS CONTENEDOR QUE CONTIENE LOS LOGOS */
.footer__contact__item{
    display: flex;
    justify-content: space-around;
}
/* SECTION ESTILOS ANIMACIÓN LOGOS - FIN */
.footer__group{
    /* NOTE TRANSICION DE REGRESO SOBRE LOGOS */
    transition: 1s;
}
/* SECTION ESTILOS ANIMACIÓN LOGOS - INICIO */
.footer__group:hover{
    /* NOTE TRANSICION DE INICIO SOBRE LOGOS*/
    transition: 2s;
    transform: scale(1.3);
}