/* SECTION ESTILOS CONTENEDOR FOOTER */
.footer__container{
    padding:1em;
    color: #fff;
    text-align: center;
    background-color: #202C33;

}
/* SECTION ESTILOS CONTENEDOR QUE CONTIENE LOS LOGOS */
.footer__contact__item{
    display: flex;
    justify-content: space-around;
}