.section__register{
    padding-top: 10px;
    padding-bottom: 10px;
}

.register__container{
    padding: 50px;
    background-color: #7ED957;
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px outset;
    border-radius: 10px;

}
.register__group{
    text-align: left;
}
.register__group>input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.register__title{
    font-size: 30px;
    margin-bottom: 20px;
}
.clear__checkbox{
    width: 100%;
    clear: both;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 10px;
}
.register__container select{
    width: 100%;
    clear: both;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 10px;
}
.form__button{
    width: 50%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__button button{
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;
    background-color:#202C33;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

