html{
    /* NOTE PROPIEDAD QUE PERMITE SUAVIDAD EN MOVIMIENTO DE ENLACES INTRADOCUMENTALES */
    scroll-behavior: smooth;
}
/* ESTILO DE BOOTSTRAP */
.carousel{
    padding-top: 30px;
    margin: auto;
    width: 80%;
}
.carousel img{
    width: 100%;
    height: 700px;
    filter: brightness(50%);
    transition:1.5s;
    border-radius: 20px;
}
.carousel img:hover{
    filter: brightness(100%);
    transition: 1.5s;
    border-radius: 20px;
}




.section__products{
    margin: auto;
    width: 90%;
}
.section__products__group span{
    font-weight: bold;
}

/* SECTION ESTILOS TITULO "PRODUCTOS" */
.section__title{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    transition: 1.5s;
}
.section__title:hover{
    color: #7ED957;
    transition: 1.5s;
}
/* SECTION ESTILOS CONTENEDOR DE CADA IMAGEN */
.section__products__img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border-radius: 10px;
    border: outset ;
    transition: 2s;
    align-items: center;
    margin-bottom: 1em;
}

/* SECTION ESTILOS IMAGEN DE CADA CONTENEDOR */
.section__products__img img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* SECTION ESTILOS HOVER SOBRE CONTENEDOR IMG */
.section__products__img:hover{
    border: 2px outset #7ED957;
    transition: 1s;
    transform: scale(1.2);
}
/* SECTION ESTILOS DE CONTENEDOR DE CADA FILA DE PRODUCTOS */
.section__products__items{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
/* SECTION ESTILOS DE CONTENEDOR DE DESCRIPCION DE CADA PRODUCTO */
.section__products__descp{
    border-radius: 10px;
    padding: 1em;
    color: #fff;
    background-color:  rgb(32, 44, 51, 0.9);
}
