body{
    font-family: 'League Spartan', sans-serif;

}
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__login a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
.header__login a:hover{
    color: #428327;
}


.header__nav{
    text-align: center;
    background-color:#202C33 ;
}
.header__nav ul{
    padding: 10px;
    list-style-type: none;
}
.header__nav a {
    text-decoration: none;
    color: #fff
}

.header__nav li{
    border-radius: 10px;
    display: inline;
    margin: 10px;
    font-size: 2em;
}


.header__nav a:hover, .header__nav li:hover{
    color: #428327;
    font-weight: bold;
    transition: 1s;
}


.header__img__container{
    text-align: center;
}
.header__img{
    height: 600px;
    width: 100%;
}
.section__products__title{
    text-align: center;
    font-size: 2em;
}

.section__products__items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
.section__products__descp{
    border-radius: 10px;
    padding: 1em;
    color: #fff;
    background-color: #428327;
}
.footer__container{
    padding:1em;
    color: #fff;
    text-align: center;
    background-color: #202C33;

}


.footer__contact__item{
    display: flex;
    justify-content: space-around;
}